* {
  box-sizing: border-box;
}

/*estilos header*/

.descuento {
  position: relative;
  background-color: #1cd1b0;
  height: 38px;
}
header p {
  position: absolute;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.heroes {
  position: relative;
  background-color: #00669f;
  height: 101px;
  border: 1px solid #000000;
  box-shadow: 0px 10px 7px 0px #00000040;
}
header h1 {
  position: absolute;
  background-color: #00669f;
  margin-top: 28px;
  margin-left: 28px;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}

/* estilos main */

main {
  background-color: #fff9f9;
  height: 700px;
}
.card{
    top: 50px;
    position: relative;
    display: inline;
    
}
.divNorte {
  width: 300px;
  height: 193px;
  background-image: url(849bfede3a5193c34ab8a00379e64fa2.jpg);
  border-radius: 16px 16px 0px 0px;
}

.divSur {
  width: 300px;
  height: 336px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.divSur h2{
    margin: 0px;
    padding-top: 90px;
}
.fotoRedonda{
    position: absolute;
    z-index: 100;
    border-radius: 60px;
    margin: auto;
}

/* estilos footer */

.cajaFooter {
  position: relative;
  background-color: #00669f;
  height: 51px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

footer p {
  position: absolute;
  color: #fff9f9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin: 16px 16px;
}
